@import url("https://fonts.googleapis.com/css2?family=Oxanium&display=swap");

.bg {
	font-family: "Oxanium", sans-serif;
	background: url("../img/pattern-bg.png") fixed;
}

.example-inputs {
	padding: 8px 10px;
	border: solid 1px #ffaa2c;
}
